<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kanoon.egov" >

    <!--!!!!!have to add-->
    <permission
        android:name="com.kanoon.egov.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.kanoon.egov.permission.MAPS_RECEIVE"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <!-- The following two permissions are not required to use
         Google Maps Android API v2, but are recommended. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC5WWLvMZqN2nri85zuTq5-fTPCBHu2n_E"/>

        <!--MainActivity-->
        <activity
            android:name="com.kanoon.egov.activity.MainActivity"
            android:label="หน้าหลัก"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Extra_information-->
        <activity
            android:name="com.kanoon.egov.activity.ExtraInformationActivity"
            android:label="เซ็นสำเนาถูกต้อง"
            android:screenOrientation="portrait">
        </activity>

        <!--CalendarActivity-->
        <activity
            android:name="com.kanoon.egov.activity.CalendarActivity"
            android:label="เลือกวันที่และเวลา"
            android:screenOrientation="portrait">
        </activity>

        <!--Check_transaction-->
        <activity
            android:name="com.kanoon.egov.activity.CheckTransactionActivity"
            android:label="ทำบัตรประชาชน"
            android:screenOrientation="portrait">
        </activity>

        <!--Confirmation-->
        <activity
            android:name="com.kanoon.egov.activity.ConfirmationActivity"
            android:label="ยืนยันบุคคล"
            android:screenOrientation="portrait">
        </activity>

        <!--Document-->
        <activity
            android:name="com.kanoon.egov.activity.DocumentActivity"
            android:label="สำเนาทะเบียนบ้าน"
            android:screenOrientation="portrait">
        </activity>

        <!--Location-->
        <activity
            android:name="com.kanoon.egov.activity.LocationActivity"
            android:label="สถานที่"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>

        <!--Near Map-->
        <activity
            android:name="com.kanoon.egov.activity.NearMapActivity"
            android:label="สถานที่"
            android:screenOrientation="portrait">
        </activity>

        <!--Review page-->
        <activity
            android:name="com.kanoon.egov.activity.ReviewPageActivity"
            android:label=""
            android:screenOrientation="portrait">
        </activity>

        <!--Route map-->
        <activity
            android:name="com.kanoon.egov.activity.RouteMapActivity"
            android:label="สถานที่"
            android:screenOrientation="portrait">
        </activity>

        <!--Transaction-->
        <activity
            android:name="com.kanoon.egov.activity.TransactionActivity"
            android:label=""
            android:screenOrientation="portrait">
        </activity>

        <!--Transaction detail-->
        <activity
            android:name="com.kanoon.egov.activity.TransactionDetailActivity"
            android:label="ทำบัตรประชาชน"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.kanoon.egov.activity.TabLayoutActivity"
            android:label="สถานที่ "
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
